#player,#player a{ color:#999; font-family: tahoma;}
#player{ background:url(http://static.tumblr.com/83zgfej/vQEm0co2b/baseapple1.png); background-position:bottom; } background-color: #fff }
#player .mainImage{ background:url(http://static.tumblr.com/83zgfej/RUlmiqqd/basesimple.png); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:26px; }
#player #play{ background:url(http://static.tumblr.com/83zgfej/V72mliqrj/play11.png); }
#player #play,#player #pause{ left:26px; }
#player #previous{ left:0px; }
#player #next{ left:52px; }
#player #title{ left:90px;  }
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:0px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#fff;  }
#player #seekerBuffered{ background-color:#DBD9D9; }
#player #seekerSliderBase{ background-color:#999; }

#player #volume{ width:65px; right:39px; }
#player #volumeSlider{ width:8px; background:url(http://static.tumblr.com/83zgfej/vQEm0co2n/baseapple1.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#fff; }
#playlist .module{  color:#333; background-color:#fff; }
#playlist h3{ background:url(http://static.tumblr.com/gigxqem/uD31zwm3j/awn4.jpg); color:#494949; background-color:#fff; }
#playlist .even{background-color:#fff;}
#playlist .odd{ background-color:#fff;}
#playlist .focus{ background-color:#fff; color:#999;}
